@import "tailwindcss";

/* 🔹 Ajusta tamaño de flechas */
.image-gallery-icon {
  width: 35px !important;
  height: 35px !important;
  display: flex;
  align-items: center;
}

/* 🔹 Cambiar cursor en la imagen principal */
.image-gallery-slide img {

  cursor: pointer;
}

/* 🔹 Miniaturas del carrusel */
.custom-gallery .image-gallery-thumbnail img {
  width: 80px;       /* ancho fijo de las miniaturas */
  height: 80px;      /* alto fijo de las miniaturas */
  object-fit: cover; /* recorta la imagen manteniendo proporción */
  border-radius: 3px;
   display: flex;
  cursor: pointer;  
  
}

/* 🔹 Quitar borde/outline azul de miniaturas al hacer click o foco */
/* Quitar cuadro azul de todas las miniaturas */
.custom-gallery .image-gallery-thumbnail {
  border: none !important;
}


/* 🔹 Todas las miniaturas oscuras por defecto */
.custom-gallery .image-gallery-thumbnail img {
  filter: brightness(0.5);
  transition: all 0.3s ease;
  border-radius: 6px;
}

/* 🔹 La miniatura seleccionada vuelve a estar clara */
.custom-gallery .image-gallery-thumbnail.active img {
  filter: brightness(1);
  transform: scale(1.05); /* efecto de resaltar un poco */
  border: 2px solid #007592; /* opcional: borde blanco */
}
/* 🔹 Espaciado entre la imagen principal y las miniaturas */
.custom-gallery .image-gallery-thumbnails-wrapper {
  margin-top: 20px; /* ajusta a tu gusto */
}
